
@model IEnumerable<employeesTaskManager.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var employee in Model)
{
    <section>
        <h2>@employee.Name</h2>
        <p>Email: @employee.Email</p>
        @{
            List<WorkTask> toDo = employee.tasks.Where(x => x.Status == "ToDo").ToList();
            List<WorkTask> inProgress = employee.tasks.Where(x => x.Status == "InProgress").ToList();
        }
        <h3>To do:</h3>
        @for (int i = 0; i < (toDo.Count() < 6 ? toDo.Count() : 5); i++)
        {
            <br />
            <h5>
                @toDo[i].Name;
            </h5>
        }
        <h3>In progress:</h3>
        @for (int i = 0; i < (inProgress.Count() < 6 ? inProgress.Count() : 5); i++)
        {
            <br />
            <h5>
                @inProgress[i].Name;
            </h5>
        }
        <a asp-action="EmployeePage" asp-route-id="@employee.EmployeeId">podrobnosti</a> |
    </section>
}
