@model List<employeesTaskManager.Models.Employee>

@{
    ViewData["Title"] = "Manažér";
}

<style>
    .custom-body {
        font-family: 'Arial', sans-serif;
        background-color: #ffffff;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .custom-h1 {
        color: #2c3e50;
    }

    .custom-section {
        background-color: #ecf0f1;
        margin: 10px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .custom-tasks-column {
        flex-basis: 45%;
    }

    .custom-h2 {
        color: #3498db;
    }

    .custom-p {
        color: #555;
    }

    .custom-h3 {
        color: #2ecc71;
    }

    .custom-h5 {
        color: #e74c3c;
    }

    .custom-a {
        color: #000000;
        text-decoration: none;
        margin-right: 10px;
    }

        .custom-a:hover {
            color: #3498db;
        }

    .custom-edit-btn {
        margin-right: 10px;
    }

    .btn-secondary {
        background-color: aqua;
    }

    .custom-tasks-column {
        flex-basis: 45%;
    }

    .custom-tasks-list {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        height: 180px;
        overflow-y: auto;
    }

    .custom-tasks-list {
        margin-right: 10px;
    }

        .custom-tasks-list ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .custom-tasks-list li {
            margin-bottom: 5px;
        }

    .company-header {
        text-align: center;
        padding: 20px;
        background-color: #3498db; /* Modrá farba pre hlavičku */
        color: #fff;
        border-radius: 10px;
        margin-bottom: 20px;
    }
</style>

<div class="custom-body">
    <div class="company-header">
        <h1>@Model[0].Company.Name</h1>
        <p>Email: @Model[0].Company.ContactEmail</p>
        <p>Manažéri: @string.Join(", ", Model[0].Managers)</p>
    </div>

    @if (Model[0].Email != null)
    {
        foreach (var employee in Model)
        {
            <section class="custom-section">
                @{
                    List<WorkTask> toDo = employee.tasks.Where(x => x.Status == "ToDo").OrderBy(x => x.DeadLine).ToList();
                    List<WorkTask> inProgress = employee.tasks.Where(x => x.Status == "InProgress").OrderBy(x => x.DeadLine).ToList();
                }
                <div class="custom-tasks-column">
                    <h2 class="custom-h2">@employee.Name</h2>
                    <p class="custom-p">Email: @employee.Email</p>
                    <a asp-action="EmployeePage" asp-route-id="@employee.EmployeeId" class="btn btn-secondary custom-a">Detaily</a>
                    <a asp-action="Create" asp-route-id="@employee.EmployeeId" class="btn btn-warning custom-edit-btn">Vytvoriť</a>
                </div>

                <div class="custom-tasks-column">
                    <div class="custom-tasks-list">
                        <h3 class="custom-h3">Na vykonanie:</h3>
                        <ul>
                            @foreach (var task in toDo.Take(4))
                            {
                                string res = $"{task.Name} - do {task.DeadLine.ToString("dd/MM/yyyy")}";
                                <li>@res</li>
                            }
                            @if (toDo.Count < 4)
                            {
                                for (int i = 0; i < 4 - toDo.Count; i++)
                                {
                                    <br />
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="custom-tasks-column">
                    <div class="custom-tasks-list">
                        <h3 class="custom-h3">Vo vykone:</h3>
                        <ul>
                            @foreach (var task in inProgress.Take(4))
                            {
                                string res = $"{task.Name} - do {task.DeadLine.ToString("dd/MM/yyyy")}";
                                <li>@res</li>
                            }
                            @if (inProgress.Count < 4)
                            {
                                for (int i = 0; i < 4 - inProgress.Count; i++)
                                {
                                    <br />
                                }
                            }
                        </ul>
                    </div>
                </div>
            </section>
        }
    }
</div>
