@model employeesTaskManager.Models.ManageFirm

@{
    ViewData["Title"] = "Detaily";
}

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        .custom-body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            margin: 2rem 0;
            padding: 2rem 0;
        }

        .custom-h1 {
            color: #007bff;
            margin-bottom: 1.5rem;
        }

        .custom-container {
            margin-top: 1.5rem;
        }

        .custom-dl {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        .custom-dt {
            flex: 1 0 20%;
            font-weight: bold;
        }

        .custom-dd {
            flex: 1 0 80%;
            margin-bottom: 0.5rem;
        }

        .custom-link {
            color: #007bff;
            text-decoration: none;
            margin-right: 0.5rem;
        }

            .custom-link:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body class="custom-body">

    <div class="custom-container">
        <h1 class="custom-h1">Detaily</h1>

        <div>
            <h4>ManageFirm</h4>
            <hr />
            <dl class="custom-dl">
                <dt class="custom-dt">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="custom-dd">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="custom-dt">
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </dt>
                <dd class="custom-dd">
                    @Html.DisplayFor(model => model.ContactEmail)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="custom-link">Upraviť</a> |
            <a asp-action="Index" class="custom-link">Späť na Zoznam</a>
        </div>
    </div>
</body>
</html>
